.projects{
    display: grid;
    gap: 15px;
}
.projectsContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.projectsContainer div{
    width: max-content;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 2px 0px var(--light10) !important;
    background-color: var(--dark20);
    display: flex;
    align-items: center;
    gap: 10px;
}
.projectsContainer span{
    padding: 20px;
}
.projectsContainer p{
    text-align: center;
    font-size: 30px;
    color: var(--light00);
}
.projectsContainer .projectUrl{
    color: var(--light10);
    font-size: 15px;
}
.projectsContainer div img{
    height: 75px;
    width: 75px;
    border-radius: 100%;
}