@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;1,100&display=swap');

*{
    padding: 0;
    margin: 0;
    color: var(--light10);
    font-family: quicksand;
    text-decoration: none;
}
html{
    height: 100%;
    width: 100%;
}
body{
    background-color: var(--dark20);
    height: 100%;
    width: 100%;
}

:root{
    --dark00: black;
    --dark10: #111;
    --dark15: #151515;
    --dark19: #191919;
    --dark20: #222;
    --light00: white;
    --light10: darkgray;
    --light20: rgba(169, 169, 169, 0.507);
}

.wrapper{
    height: 100%;
    background-color:var(--dark10);
    display: grid;
    grid-template-columns: max-content 1fr;
}

.content_container_parent{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.main{
    padding: 30px;
    background: var(--dark10);
    display: grid;
    gap: 30px;
    grid-template-rows: repeat(2, max-content);
    animation: fadeInn 2s;
}

@keyframes fadeInn{
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.SITE_URL_PATH{
    text-transform: capitalize;
}
