@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;1,100&display=swap');

*{
    padding: 0;
    margin: 0;
    color: var(--light10);
    font-family: quicksand;
    text-decoration: none;
}

html{
    overflow: hidden;
}

body{
    background-color: var(--dark20);
    overflow: hidden;
}

:root{
    --dark00: #000;
    --dark10: #111;
    --dark15: #151515;
    --dark19: #191919;
    --dark20: #222;
    --light00: white;
    --light10: darkgray;
    --light20: rgba(169, 169, 169, 0.507);
    --navWidth: 250px;
    --navWidthWPadding: 290px;
}

.wrapper{
    height: 100dvh;
    background-color:var(--dark10);
    display: grid;
    grid-template-columns: max-content 1fr;
}

.main{
    z-index: 111;
    min-height: calc(100dvh - 60px);
    padding: 30px;
    overflow: auto;
    background: var(--dark10);
    display: grid;
    gap: 30px;
    grid-template-rows: repeat(2, max-content);
}

.main *{
    animation: fadeInn 1s;
}

@keyframes fadeInn{
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.content_container{
}

.topbar{
    display: flex;
    align-items: center;
    gap: 10px;
}

.SITE_URL_PATH{
    text-transform: capitalize;
}

.NAV_COLAPSE_BUTTON{
    z-index: 999;
    display: none;
    height: 20px;
    width: 20px;
}

@media screen and (max-width: 850px) {
    .wrapper{
        grid-template-columns: max-content 1fr;
        position: relative;
        /* left: -290px; */
        transition: transform .3s ease;
    }
    .main{
        width: calc(100dvw - 30px);
        min-height: calc(100dvh - 30px);
        padding: 15px;
    }
    .nav{
        transition: transform .3s ease;
        /* transform: translateX(-290px); */
    }
    .NAV_COLAPSE_BUTTON{
        display: block;
    }
}