.cardsContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.cardsContainer div{
    width: max-content;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 2px 0px var(--light10) !important;
    background-color: var(--dark20);
    display: flex;
    align-items: center;
    gap: 10px;
    transition: .3s;
}
.cardsContainer div:hover{
    box-shadow: 0 0 0px 1px var(--light10) !important;
    background-color: var(--dark20);
}
.cardsContainer span{
    padding: 20px;
}
.cardsContainer p{
    text-align: center;
    font-size: 30px;
    color: var(--light00);
}
.cardsContainer .cardUrl{
    color: var(--light10);
    font-size: 15px;
}
.cardsContainer div img{
    height: 75px;
    width: 75px;
    border-radius: 10000px;
}