.nav{
    z-index: 999;
    background-color: var(--dark20);
}
@keyframes slideInn{
    0% {transform: translateX(-200px); opacity: 0;}
    100% {    transform: translateX(0px); opacity: 1;}
}
.navColapse{
    z-index: 1000;
    width: 100%;
    height: max-content;
    padding: 15px 0;
    margin-bottom: 10px;
    margin-inline-start: auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: none;
    justify-content: center;
    gap: 20px;
    background-color: var(--dark10);
}
.navColapse:hover{
    background-color: var(--dark19);
    cursor: pointer;
}
.navColapse img:first-child{
    height: 20px;
    rotate: 180deg;
}
.navColapse img:last-child{
    height: 20px;
}
.navContentContainer{
    width: var(--navWidth);
    padding: 20px;
    display: grid;
    justify-items: center;
    grid-template-rows: max-content 1fr max-content;
    gap: 40px;
}
.profile{
    height: max-content;
    display: grid;
    grid-template-rows: repeat(2, max-content);
    gap: 20px;
    justify-items: center;
}
.profileImg{
    height: 150px;
    width: 150px;
    border-radius: 100vh;
    border: 5px solid var(--dark19);
    background-position: center;
    background-size: 100px;
}
.profile h1{
    font-size: 25px;
    text-align: center;
    color: var(--light10);
}
.navButtons{
    width: 100%;
    height: max-content;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}
.navButtons div{
    padding: 15px;
    border-radius: 5px;
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    align-items: center;
    gap: 10px;
    row-gap: 5px;
    background-color: var(--dark19) !important;
    transition: .1s;
}
.navButtons div:hover{
    opacity: 1;
    box-shadow: 0 0 2px 0px var(--light10);
    background-color: var(--dark19) !important;
    cursor: pointer;
}
.navButtonActive{
    background-color: var(--dark19) !important;
    box-shadow: 0 0 2px 0px var(--light10) !important;
    opacity: 1 !important;
}
.navButtonExternal::after{
    content: '';
    height: 15px;
    width: 15px;
    display: block;
    background-image: url(https://img.gamehub.community/link.png);
    background-position: center;
    background-size: cover;
    opacity: .5;
}
.navButtons img{
    height: 20px;
    width: 20px;
}
.navButtons p{
    font-size: 18px;
    color: var(--light10);
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

/* Dropdown */
.navButtonDropdown i{
    grid-column:  1/4;
    height: 5px;
    display: none;
}
.navButtonDropdown::after{
    content: '';
    display: block;
    height: 20px;
    width: 20px;
    background-image: url(/img/nav_icons/gray_arrow_slim.png);
    background-size: cover;
    transition: .3s;
    grid-column: 3;
    grid-row: 1;
}
.navButtonDropdown.active::after {
    transform: rotate(90deg);
}
.navButtonDropdown.active a {
    display: grid;
}
.navButtonDropdown.active i {
    display: grid;
}
.navButtonDropdown a:has(span){
    grid-column:  1/4;
    display: none;
}
.navButtonDropdown_child{
    padding: 10px;
    grid-template-columns: max-content 1fr max-content;
    align-items: center;
    gap: 10px;
    background-color: var(--dark19) !important;
    transition: .1s;
    border-radius: 5px;
    display: grid;
}
.navButtonDropdown_child:hover{
    background-color: var(--dark20) !important;
}
.navButtonDropdown_child_Active{
    background-color: var(--dark20) !important;
}
.copyright p{
    color: var(--light10);
    font-size: 18px;
    text-transform: capitalize;
}

@media screen and (min-width: 700px) {
    .nav{
        /* animation: slideInn 1s; */
        border-right: 1px solid var(--dark00);
    }
}
@media screen and (max-width: 700px) {
    .nav{
        transition: transform 1s;
        width: 100dvw;
        height: 100%;
        padding-top: 50px;
        position: fixed;
        top: 0;
        overflow-y: scroll;
    }
    .navColapse{
        display: flex;
    }
    .navContentContainer{
        margin-inline: auto;
    }
}

.navColapsed{
    transform: translateX(-100dvw);
}
